header {
  .typed {
    display: inline-block;
    margin: 0;
  }

  .typed-cursor {
    font-size: 60px;
    display: inline-block;
    margin: 0 10px;
    color: #00a8ff;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    @media(max-width: 400px) {
      display: none;
    }
  }
}
