@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: #2a3237;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Typography */

p {
  font-size: 18px;
  line-height: 1.5;
  color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  position: relative;
  margin: 10px 0;
}

h1 {
  font-size: 60px;

  @media(max-width:992px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;

  @media(max-width:992px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 30px;

  @media(max-width:992px) {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;

  @media(max-width:992px) {
    font-size: 26px;
  }
}

h5 {
  font-size: 18px;

  @media(max-width:992px) {
    font-size: 16px;
  }
}

h6 {
  font-size: 16px;

  @media(max-width:992px) {
    font-size: 12px;
  }
}